
@{
    ViewBag.Title = "Index";

}

<h2>Equipas e Membros</h2>
<p>________________________________________________________________________________________</p>
<p><h4>Exercício A1 </h4>Qual o código de membro (Id) mais elevado? <b>Resposta:  @ViewBag.A1</b></p>
<p>________________________________________________________________________________________</p>
<p><h4>Exercício A2 </h4>Qual o código mais baixo (menor Id) das equipas? <b>Resposta:  @ViewBag.A2</b></p>
<p>________________________________________________________________________________________</p>
<p><h4>Exercício A3 </h4>Somar coluna (tabela equipas; tem que ser a do Id, porque não há outra numérica) <b>Resposta:  @ViewBag.A3</b></p>
<p>________________________________________________________________________________________</p>
<p><h4>Exercício A4 </h4>Somar a coluna Id da equipa "Falcões do Picoto" (na tabela equipas; dará a chave primária!) <b>Resposta:  @ViewBag.A4</b></p>
<p>________________________________________________________________________________________</p>
<p><h4>Exercício A5 </h4>Somar a coluna Id dos membros da equipa "Falcões do Picoto" (na tabela de membros) <b>Resposta:  @ViewBag.A5</b></p>
<p>________________________________________________________________________________________</p>
<p>xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx</p>
<p>---------------------------------------------------------------------------------------------------------------------------------------------------</p>
<p><h4>Exercício B </h4>Quantas equipas têm membro com nome Abel? <b>Resposta:  @ViewBag.B</b></p>
<p>________________________________________________________________________________________</p>
<p><h4>Exercício C </h4>Quantos membros há nas equipas Maximinense e Falcões do Picoto? <b>Resposta:  @ViewBag.C</b></p>
<p>________________________________________________________________________________________</p>
<p><h4>Exercício D </h4>Lista ordenada dos nomes dos membros das equipas Maximinense e Falcões do Picoto. </p>

@foreach (var item in ViewBag.D)
{
    @item<br />
}

<p>________________________________________________________________________________________</p>